html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
}

.display {
  display: flex;
  justify-content: space-around;
  background-color: #42434d;
  padding: 25px
}

.heading {
  display: flex;
  justify-content: space-around;
  background-color: #7a10c1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.display-image img {
  display: block;
  height: 100px;
  width: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.display-image img:hover {
  border-radius: 10px;
}

.display-options div {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.display-song p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.display-artist p {
  font-size: 18px;
  height: 100px;
  
}


.display-link a {
  display: block;
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

.control-input {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.control-input .error-data {
  background-color: #ff4d00;
  color: white;
  font-size: small;
}

input {
  border: solid 1px;
  padding: 5px 10px;
  font-size: 14px;
  border-color: #ccc;
  color: black;
}

input:focus {
  z-index: 99;
  outline: solid 2px #7a10c1;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: black;
}

.delete {
  background-color: #ff3300;
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
}

body {
  background: #22232a;
color: white;
}

h4{
  color: white;
}